/* Add CSS Styling */
.odd {
    background-color: #f675759f;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#two {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.adjust-font {
    font-size: 24px;
}

#four {
    background-color: #2ee75698;
    font-size: 24px;
    font-weight: bold;
}
